.iconlink {
    width: 10px;
}

.logoimg {
    width: 120px;
}

.nav {
    background-color: rgba(0, 0, 0, 0);
    margin-top: 20px;
}

.nav-link {
    color: #6e6d6d;
    font-family: "Righteous", cursive;
}

.text {
    text-align: center;
}

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-small,
.btn-floating,
.dropdown-content,
.collapsible,
.sidenav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0),
        0 3px 1px -2px rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0),
        0 1px 5px 0 rgba(0, 0, 0, 0);
}

/*  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    padding-bottom: 15%;
}

h1 {
    font-family: "Righteous", cursive;
    color: #f26f72;
    font-size: 4.5rem;
    margin-bottom: 1px;
}

.col .linetext {
    font-family: "ubuntu-light", sans-serif;
    color: #6e6d6d;
    font-size: 1.2rem;

}

span {
    color: #6e6d6d;
}

.home .waves-effect,
#about .waves-effect {
    border-radius: 50px;
    background-color: #52575d;
    margin: 10px 0;
}

.imgnotfound {
    display: block;
    margin: 7% auto 10% auto;
    width: 40%;
}

.text {
    color: saddlebrown;
}

.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.preloader-background p {
    padding-top: 120px;
    margin-left: -60px;
    opacity: 0.8;
}

/* ADD BLINKING TEXT CLASS */
.blinking {
    animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.row {
    font-family: "ubuntu", sans-serif;
    font-size: 2rem;
}

.row-about {
    margin-top: 4%;
}

/* bar */

.bar {
    height: 30px;
    max-width: 800px;
    margin: 0 auto 10px auto;
    line-height: 20px;
    font-size: 12px;
    color: white;
    padding: 0 0 0 10px;
    position: relative;
}

.bar::before {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    height: 20px;
    top: 0;
    z-index: -2;
    background: #ecf0f1;
}

.bar::after {
    content: "";
    background: #f26f72;
    height: 20px;
    transition: 1.7s;
    display: block;
    width: 100%;
    -webkit-animation: bar-before 1 2.8s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@-webkit-keyframes bar-before {
    0% {
        width: 0px;
    }

    100% {
        width: 100%;
    }
}

.html::after {
    max-width: 80%;
}

.css::after {
    max-width: 70%;
}

.javascript::after {
    max-width: 70%;
}

.bootstrap::after {
    max-width: 70%;
}

.materializecss::after {
    max-width: 70%;
}

.react::after {
    max-width: 60%;
}

.nodejs::after {
    max-width: 55%;
}

.mysql::after {
    max-width: 60%;
}

.illustrator::after {
    max-width: 80%;
}

.figma::after {
    max-width: 65%;
}

.adobexd::after {
    max-width: 70%;
}

/* line */

hr.hr--logo {
    border-top: solid #d6e0f0 1px;
    margin: 30px;
}

hr.hr--logo:after {
    content: url('/img/icon/logomini.png');
    zoom: 3%;
    /* Controls the position of the logo */
    left: 50%;
    position: absolute;
    transform: translateY(-60%) translateX(-50%);
    /* Controls the whitespace around the symbol */
    padding: 20px;
    background: #fff;
}

.p {
    font-size: 12px;
    color: #bbbbbb;
}

/* card */

.card-panel.hoverable {
    overflow: hidden;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    color: white;
    height: 400px;
}

.card-panel.hoverable.small {
    height: 300px;
}

.card-panel.hoverable.medium {
    height: 400px;
}

.card-panel.hoverable.large {
    height: 500px;
}

.card-panel.hoverable .card-panel-header {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%) scale(1.5);
    transform: translateY(-50%) scale(1.5);
    -webkit-transition: top 0.25s 0.1s, -webkit-transform 0.25s ease 0.1s;
    transition: top 0.25s 0.1s, -webkit-transform 0.25s ease 0.1s;
    transition: top 0.25s 0.1s, transform 0.25s ease 0.1s;
    transition: top 0.25s 0.1s, transform 0.25s ease 0.1s, -webkit-transform 0.25s ease 0.1s;
}

.card-panel.hoverable .card-panel-icon {
    display: block;
    text-align: center;
}

.card-panel.hoverable .card-panel-caption {
    display: block;
    text-align: center;
    font-size: 1rem;
}

.card-panel.hoverable .card-panel-content {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: opacity 0.8s, -webkit-transform 0.25s;
    transition: opacity 0.8s, -webkit-transform 0.25s;
    transition: transform 0.25s, opacity 0.8s;
    transition: transform 0.25s, opacity 0.8s, -webkit-transform 0.25s;
}

.card-panel.hoverable:hover .card-panel-header {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    top: 0;
}

.card-panel.hoverable:hover .card-panel-content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.caption h4 {
    font-family: "Righteous", cursive;
    color: #6e6d6d;
    font-size: 30px;
}

.caption h5 {
    font-family: 'ubuntu'sans-serif;
    font-size: 20px;
}

.here {
    color: #767c77;
    margin-bottom: 3%;
}

.btn-submit {
    background-color: #6e6d6d;
}

/* contact */
.wrapper {
    display: inline-flex;
}

.wrapper .icon {
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon span {
    display: block;
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon span i {
    line-height: 60px;
    font-size: 25px;
}

.wrapper .icon .tooltip {
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    color: #fff;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}

.icon .tooltip:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover span {
    color: #fff;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before {
    background: #3B5999;
}

.wrapper .whatsapp:hover span,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip:before {
    background: #25D366;
}

.wrapper .telegram:hover span,
.wrapper .telegram:hover .tooltip,
.wrapper .telegram:hover .tooltip:before {
    background: #0088cc;
}

.wrapper .github:hover span,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before {
    background: #333;
}

.wrapper .youtube:hover span,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip:before {
    background: #DE463B;
}

.colomsosmed {
    margin-bottom: 10%;
}

.link-medsos {
    color: inherit;
    text-decoration: none;
}

.note {
    font-size: 9px;
    color: #6e6d6d;
}